<div class="container text-center">
    <i class="fas fa-check-square text-center fa-5x mt-5"></i>
    <p class="mt-5">Potwierdzono e-mail! Możesz zalogować się do aplikacji.</p>
    <a href="/login" class="btn btn-success">Zaloguj się</a>
</div>