<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/14c7d64e0c.js"></script>
  <script src="/javascripts/jquery/jquery-3.3.1.slim.min.js"></script>
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/popper/popper.min.js"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

  <script src="/javascripts/categories_dropdown.js"></script>
  <title>Ingredients</title>
</head>

<body>
  <header class="container-fluid head-fluid">
    <a href="/" style="color: white; text-decoration:none;">Ingredients</a>
    <div class="dropdown show float-right" style="top: 0;">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userProfileDropdown"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i> {{userEmail}}
      </a>

      <div class="dropdown-menu dropdown-menu-right col-sm-12" aria-labelledby="userProfileDropdown">
        <a class="dropdown-item" style="line-height: 30px;" href="/users/favourites">Ulubione</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/recipes/add_new_recipe">Dodaj przepis</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/user_recipes/{{userNickname}}">Moje
          przepisy</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/shopping_lists">Moje listy zakupów</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/settings">Zarządzaj kontem</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/logout">Wyloguj się</a>
        {{#if userIsAdmin}}
        <hr>
        <a class="dropdown-item" style="line-height: 30px; color: #27ae60" href="/administrator_panel">Panel
          administracyjny</a>
        {{/if}}
      </div>
    </div>
  </header>
  <a href="/recipes/"><img src="/images/logo.png" alt="logo" width="250"></a>
  <hr class="mt-3 mb-0">
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-1.8  sidebar" style="background-color: #333333">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel" style="text-decoration: none; color: white;">
                <i class="fas fa-home" style="margin-right: 0.7vw; margin-top: 0.8vw"></i> PULPIT
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel/user_management" style="text-decoration: none; color: white;">
                <i class="fas fa-user-friends" style="margin-right: 0.7vw; margin-top: 0.5vw"></i>ZARZĄDZANIE KONTAMI
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel/recipe_management" style="text-decoration: none; color: white;">
                <i class="far fa-list-alt" style="margin-right: 0.7vw; margin-top: 0.6vw"></i>ZARZĄDZANIE PRZEPISAMI
              </a>
            </li>
          </ul>
        </div>
      </nav>

  {{>messages}}
  {{{body}}}
  {{#if scriptName}}
  {{!-- TODO --}}
  <script src="{{scriptName}}"></script>
  {{/if}}
</body>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

<!-- Icons -->
<script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
<script>
  feather.replace()
</script>

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
  var ctx = document.getElementById("nowe_przepisy_tydzien");
  var nowe_przepisy_tydzien = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("nowe_przepisy_rok");
  var nowe_przepisy_rok = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrześień", "Paździer.", "Listopad", "Grudzień", "temp"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("nowe_przepisy_miesiac");
  var nowe_przepisy_miesiac = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092, 21345, 18483, 24003, 22489, 24092, 26034, 23345, 27483, 24003, 28489, 24092, 22489, 24092, 21034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });


  var ctx = document.getElementById("aktywnosc_uzytkownika_tydzien");
  var nowe_przepisy_tydzien = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("aktywnosc_uzytkownika_rok");
  var nowe_przepisy_rok = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Paździer.", "Listopad", "Grudzień", "temp"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("aktywnosc_uzytkownika_miesiac");
  var nowe_przepisy_miesiac = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092, 21345, 18483, 24003, 22489, 24092, 26034, 23345, 27483, 24003, 28489, 24092, 22489, 24092, 21034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });


  var ctx = document.getElementById("liczba_uzytkownikow_tydzien");
  var nowe_przepisy_tydzien = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Poniedziałek", "Wtorek", "Środa", "Czwartek", "Piątek", "Sobota", "Niedziela"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("liczba_uzytkownikow_rok");
  var nowe_przepisy_rok = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["Styczeń", "Luty", "Marzec", "Kwiecień", "Maj", "Czerwiec", "Lipiec", "Sierpień", "Wrzesień", "Paździer.", "Listopad", "Grudzień", "temp"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });

  var ctx = document.getElementById("liczba_uzytkownikow_miesiac");
  var nowe_przepisy_miesiac = new Chart(ctx, {
    type: 'line',
    data: {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30", "31"],
      datasets: [{
        data: [15339, 21345, 18483, 24003, 22489, 24092, 11034, 13345, 18483, 24003, 22489, 24092, 21345, 18483, 24003, 22489, 24092, 26034, 23345, 27483, 24003, 28489, 24092, 22489, 24092, 21034, 13345, 18483, 24003, 22489, 24092],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false,
      }
    }
  });
</script>
</body>

</html>