<!DOCTYPE html>
<html style="height:100%;">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/14c7d64e0c.js"></script>
  <script src="/javascripts/jquery/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/popper/popper.min.js"></script>
  <script src="/javascripts/bootstrap/bootstrap.min.js"></script>

  <title>Ingredients</title>
</head>

<body style="height: 100%">
  <header class="container-fluid head-fluid">
    <a href="/" style="color: white; text-decoration:none;">Ingredients</a>
    <div class="dropdown show float-right" style="top: 0;">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="userProfileDropdown"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle"></i> {{userEmail}}
      </a>

      <div class="dropdown-menu dropdown-menu-right col-sm-12" aria-labelledby="userProfileDropdown">
        <a class="dropdown-item" style="line-height: 30px;" href="/users/favourites">Ulubione</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/recipes/add_new_recipe">Dodaj przepis</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/user_recipes/{{userNickname}}">Moje
          przepisy</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/shopping_lists">Moje listy zakupów</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/users/settings">Zarządzaj kontem</a>
        <a class="dropdown-item" style="line-height: 30px;" href="/logout">Wyloguj się</a>
        {{#if userIsAdmin}}
        <hr>
        <a class="dropdown-item" style="line-height: 30px; color: #27ae60" href="/administrator_panel">Panel
          administracyjny</a>
        {{/if}}
      </div>
    </div>
  </header>
  <a href="/recipes/"><img src="/images/logo.png" alt="logo" width="250"></a>
  <hr class="mt-3 mb-0">
  <div class="container-fluid" style="height: 100%;">
    <div class="row">
      <nav class="col-sm-auto sidebar" style="background-color: #333333; min-height: 100vh">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel" style="text-decoration: none; color: white;">
                <i id="pulpit" class="fas fa-home" style="margin-right: 0.7vw; margin-top: 0.8vw"></i> PULPIT
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel/user_management"
                style="text-decoration: none; color: white;">
                <i id="account-management" class="fas fa-user-friends" style="margin-right: 0.7vw; margin-top: 0.5vw"></i>ZARZĄDZANIE KONTAMI
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administrator_panel/recipe_management"
                style="text-decoration: none; color: white;">
                <i id="recipe-management" class="far fa-list-alt" style="margin-right: 0.7vw; margin-top: 0.6vw"></i>ZARZĄDZANIE PRZEPISAMI
              </a>
            </li>
          </ul>
        </div>
      </nav>

      {{>messages}}
      <div class="col" style="min-height: 100vh">
        {{{body}}}

      </div>
    </div>
  </div>

</body>

</html>