<nav style="background-color: white;" class="navbar navbar-light">
    <img src="/images/full_logo.png" alt="logo" width="250" class="d-inline-block align-top">
    <form action="#" method="get" class="form-inline">
        <input class="form-control" type="text" placeholder="Nazwa..." aria-label="Search">

    </form>
</nav>
<hr>
<div class="container" id="mainRecipesContent">
    <h1>Ostatnio dodane przepisy:</h1>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">
            
            <div class="card"  id="item1">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item2">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item3">

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">
            
            <div class="card"  id="item4">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item5">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item6">

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">
           
            <div class="card"  id="item7">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item8">

            </div>
        </div>
        <div class="col-sm">
            
            <div class="card"  id="item9">

            </div>
        </div>
    </div>
</div>