<div class="container border border-secondary mx-auto text-justify"
    style="margin: 20px; padding: 20px; font-size: 20px;">
    1. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a commodo erat, at rhoncus tellus. Maecenas eu
    sapien dapibus ex ornare venenatis. Suspendisse vulputate magna ut porttitor rhoncus. Vestibulum at tempor risus.
    Etiam tempus finibus nisi sit amet sodales. Nullam vel laoreet lacus. Aliquam molestie malesuada elit, vel malesuada
    turpis porttitor posuere. Vestibulum ligula nulla, gravida eget augue facilisis, cursus iaculis augue. Maecenas
    blandit eros facilisis tincidunt venenatis. Pellentesque vulputate fringilla dapibus. Quisque feugiat sapien et nibh
    auctor, a pretium quam gravida. Cras non nunc gravida, viverra massa eget, dictum ex. Quisque sodales enim eget
    dolor porttitor vestibulum.
    <br /><br />
    2. Sed pulvinar elit hendrerit faucibus accumsan. Aliquam erat volutpat. Ut at tellus ut dui ultricies convallis sed
    et
    tortor. Duis quis bibendum nulla. Curabitur quis turpis sollicitudin, molestie ex eu, dapibus sem. Nulla ultricies
    ipsum nec dolor convallis, vitae imperdiet mauris vulputate. Etiam ut nunc quis est efficitur commodo.
    <br /><br />
    3. Aliquam auctor purus tellus, at pretium lorem hendrerit vel. Vestibulum ante ipsum primis in faucibus orci luctus
    et
    ultrices posuere cubilia Curae; Vestibulum semper turpis tellus. Integer commodo faucibus imperdiet. Ut eu dui
    justo. Donec convallis urna vitae risus gravida, non ornare massa dapibus. Phasellus facilisis eget odio ac
    placerat. Etiam varius, massa eu sodales posuere, sem augue lobortis ex, vel suscipit ipsum diam eget urna. Donec
    dignissim, turpis non blandit feugiat, sapien metus laoreet nibh, vel facilisis elit ipsum et justo. Donec eu tempus
    ipsum. In dictum porttitor semper. Praesent euismod sagittis purus, laoreet vehicula nunc bibendum eget.
    <br /><br />
    4. Duis ac tempus libero. Nullam hendrerit vestibulum facilisis. Nam vestibulum dolor vel mauris aliquet, quis
    lacinia
    sapien venenatis. Donec felis est, aliquam et justo at, aliquet congue justo. Morbi sed magna hendrerit, posuere
    urna in, auctor mauris. Curabitur ut venenatis dui, a condimentum mi. Cras placerat mauris velit, vitae sodales
    felis bibendum vel. Mauris suscipit, velit a pretium ultricies, diam ex tempor nisi, a maximus arcu arcu sed nibh.
    <br /><br />
    5. Nunc eget accumsan neque. Donec lobortis tristique semper. Nunc ante ligula, maximus et felis a, fringilla
    maximus
    est. Aliquam sodales lorem lectus, eget luctus orci mollis id. Suspendisse ultricies massa dolor, sit amet
    consectetur lacus efficitur sed. Sed molestie sed ante et fringilla. Nullam eget nibh non lorem pulvinar sagittis.
    Vivamus ut finibus nisi. Duis tempus pharetra pellentesque. Suspendisse id ipsum nibh. Nam quam augue, iaculis in
    convallis vel, cursus a dolor. In efficitur leo neque, at elementum ante commodo eu. Donec fermentum ipsum vel
    pretium vulputate.
    <br /><br />
    6. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a commodo erat, at rhoncus tellus. Maecenas eu
    sapien dapibus ex ornare venenatis. Suspendisse vulputate magna ut porttitor rhoncus. Vestibulum at tempor risus.
    Etiam tempus finibus nisi sit amet sodales. Nullam vel laoreet lacus. Aliquam molestie malesuada elit, vel malesuada
    turpis porttitor posuere. Vestibulum ligula nulla, gravida eget augue facilisis, cursus iaculis augue. Maecenas
    blandit eros facilisis tincidunt venenatis. Pellentesque vulputate fringilla dapibus. Quisque feugiat sapien et nibh
    auctor, a pretium quam gravida. Cras non nunc gravida, viverra massa eget, dictum ex. Quisque sodales enim eget
    dolor porttitor vestibulum.
    <br /><br />
    7. Sed pulvinar elit hendrerit faucibus accumsan. Aliquam erat volutpat. Ut at tellus ut dui ultricies convallis sed et
    tortor. Duis quis bibendum nulla. Curabitur quis turpis sollicitudin, molestie ex eu, dapibus sem. Nulla ultricies
    ipsum nec dolor convallis, vitae imperdiet mauris vulputate. Etiam ut nunc quis est efficitur commodo.
    <br /><br />
    8. Aliquam auctor purus tellus, at pretium lorem hendrerit vel. Vestibulum ante ipsum primis in faucibus orci luctus et
    ultrices posuere cubilia Curae; Vestibulum semper turpis tellus. Integer commodo faucibus imperdiet. Ut eu dui
    justo. Donec convallis urna vitae risus gravida, non ornare massa dapibus. Phasellus facilisis eget odio ac
    placerat. Etiam varius, massa eu sodales posuere, sem augue lobortis ex, vel suscipit ipsum diam eget urna. Donec
    dignissim, turpis non blandit feugiat, sapien metus laoreet nibh, vel facilisis elit ipsum et justo. Donec eu tempus
    ipsum. In dictum porttitor semper. Praesent euismod sagittis purus, laoreet vehicula nunc bibendum eget.
    <br /><br />
    9. Duis ac tempus libero. Nullam hendrerit vestibulum facilisis. Nam vestibulum dolor vel mauris aliquet, quis lacinia
    sapien venenatis. Donec felis est, aliquam et justo at, aliquet congue justo. Morbi sed magna hendrerit, posuere
    urna in, auctor mauris. Curabitur ut venenatis dui, a condimentum mi. Cras placerat mauris velit, vitae sodales
    felis bibendum vel. Mauris suscipit, velit a pretium ultricies, diam ex tempor nisi, a maximus arcu arcu sed nibh.
    <br /><br />
    10. Nunc eget accumsan neque. Donec lobortis tristique semper. Nunc ante ligula, maximus et felis a, fringilla maximus
    est. Aliquam sodales lorem lectus, eget luctus orci mollis id. Suspendisse ultricies massa dolor, sit amet
    consectetur lacus efficitur sed. Sed molestie sed ante et fringilla. Nullam eget nibh non lorem pulvinar sagittis.
    Vivamus ut finibus nisi. Duis tempus pharetra pellentesque. Suspendisse id ipsum nibh. Nam quam augue, iaculis in
    convallis vel, cursus a dolor. In efficitur leo neque, at elementum ante commodo eu. Donec fermentum ipsum vel
    pretium vulputate.
    <br /><br />
    <div class="text-center">
        <a href="/users/register" class="btn btn-success">Zapoznałem się z regulaminem.</a>
    </div>
</div>