<img src="/images/full_logo.png" alt="logo" class="landing-logo mx-auto d-block">
<div class="container text-center">
    <h1 class="display-3">
        Powstało dzięki:
    </h1>
    <br>
    <br>
    <h1 class="display-4">
        Artur Bronka
    </h1>
    <br>
    <br>
    <h1 class="display-4">
        Olga Detko
    </h1>
    <br>
    <br>
    <h1 class="display-4">
        Łukasz Dobek
    </h1>
</div>