<img src="/images/full_logo.png" alt="logo" class="landing-logo mx-auto d-block">
<div class="container text-center" style="background-color: #eeeeee; width: 40vw">
    <P style="font-size: 1.9vw; padding-top: 0.5vw">
        INFORMACJE O APLIKACJI
    </P>
    <hr style="width: 35vw">
    <p style="width:35vw; padding-left: 7.5vw">Aplikacja powstała w ramach projektu studentckiego 
        realizowanego na Politechnice Poznańskiej pod nadzorem mgr inż. Michała Apolinarskiego.</p>
    <p style="margin-top: 1.3vw">Autorami aplikacji są:</p>
    <p style="padding-bottom: 1.3vw">Artur Bronka
        <br>Olga Detko 
        <br>Łukasz Dobek</p>
</div>