<div class="container mt-5 text-center">
    <img src="/images/full_logo.png" alt="logo" class="landing-logo mx-auto d-block">
    <hr class="w-75 mb-5" style="background-color: black;">
    <span>Zapomniałeś hasła? Podaj e-mail konta, do którego chcesz odzyskać dostęp.
        <br> Zostanie na niego przesłany link umożliwiający zresetowanie hasła.</span>
    <form action="/forgot_password" method="POST">
        <div class="form-group d-flex justify-content-center mt-4">
            <input type="email" name="email" id="emailForm1"
                class="form-control w-25 border-top-0 border-left-0 border-right-0 rounded-0" placeholder="E-mail">
        </div>
        <button type="submit" class="btn btn-success ml-3">Zresetuj hasło</button>
    </form>
</div>