<img src="/images/full_logo.png" alt="logo" class="landing-logo mx-auto d-block">
<div class="container main">
    <h1 class="head">Pomożemy Ci zrobić coś, z niczego.</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac mauris placerat, semper erat nec,
        maximus leo. Donec pellentesque, justo vel faucibus gravida.</p>
</div>
<div class="container main-2 text-center">
    <div class="btn-group dropright">
        <a href="/login" type="button"
            class="btn btn-primary index-anchor dropdown-toggle">
            Zaloguj się
        </a>
    </div>
    <div class="btn-group dropright">
        <a href="/register" type="button"
            class="btn btn-primary index-anchor dropdown-toggle">
            Zarejestruj się
        </a>
    </div>
    <br>
    <br>
    <span>Jesteś zalogowany? Przejdź do <a href="/recipes" class="anchor-green">strony głównej</a>.</span>
</div>

