<div class="container mt-5 text-center">
    <form action="/reset_password/{{url}}" method="POST">
                <div class="form-group d-flex justify-content-center mt-4">
            <input type="password" name="password" id="passwordForm2"
                class="form-control w-25 border-top-0 border-left-0 border-right-0 rounded-0" placeholder="Hasło"
                minlength="6" pattern="^(?=.*[0-9]+.*)(?=.*[a-zA-Z]+.*)[0-9a-zA-Z]{6,}$" required>
        </div>
        <div class="form-group d-flex justify-content-center mt-4">
            <input type="password" name="passwordConfirm" id="passwordForm1"
                class="form-control w-25 border-top-0 border-left-0 border-right-0 rounded-0"
                placeholder="Potwierdź hasło" required>
        </div>
        <button type="submit" class="btn btn-success ml-3" style="color:black; background-color:#27AE60;">Zmień hasło</button>
    </form>
</div>