/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 70px;
}

.head-fluid {
  background-color: #333333;
  color: #ffffff; 
  height: 64px;
  line-height: 64px;
  vertical-align: middle; 
  padding-left: 50px;
  font-size: 24px;
}

.landing-logo {
  margin-top: 50px;
  height:286px;
}

.head {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}

div.main {
  width: 588px;
  height: 238px;
  background-color: #eeeeee;
  padding: 20px;
}

div.main-2{
  width: 588px;
  margin-top:50px;
}

.container a.index-anchor {
  background-color: #27ae60;
  border: none;
  width: 150px;
  height: 60px;
  color: #333333;
  font-size: 18px;
  vertical-align: middle; 
  line-height: 50px;

}

div.main p {
  text-align: justify;
  color: #8f8f8f;
}

.anchor-green {
  color: #27ae60;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-img-top-2 {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}


.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.short-desc {
  background-color:#eeeeee;
}
.error{
  border-color: red;
}
.error-message{
  color: red;
  font-style: bold;
}


/*recipe page*/
.split-para      { display:block;margin:10px;}
.split-para span { display:block;float:right;width:5vw;margin-left:0px;}
.custom_file{
  margin: 3%;
  margin-top: 0%  ;
  width: 45%;
  height: 400px;
  background-color:gray;
  display: flex;
}
.custom_file_input{
  margin: 3%;
  margin-top: 0%  ;
  width: 100%;
  height: 400px;
  background-color:grey;
}
.custom-file-label{
  color: black;
  font-size: 30px;
}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
