/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

body {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 70px;
}

.head-fluid {
  background-color: #333333;
  color: #ffffff; 
  height: 64px;
  line-height: 64px;
  vertical-align: middle; 
  padding-left: 50px;
  font-size: 24px;
}

.landing-logo {
  margin-top: 50px;
  height:286px;
}

.head {
  margin-bottom: 50px;
  font-size: 28px;
  text-align: center;
}

div.main {
  width: 588px;
  height: 238px;
  background-color: #eeeeee;
  padding: 20px;
}

div.main-2{
  width: 588px;
  margin-top:50px;
}

.container a.index-anchor {
  background-color: #27ae60;
  border: none;
  width: 150px;
  height: 60px;
  color: #333333;
  font-size: 18px;
  vertical-align: middle; 
  line-height: 50px;

}

div.main p {
  text-align: justify;
  color: #8f8f8f;
}

.anchor-green {
  color: #27ae60;
}

.no-border {
  border: 0;
  box-shadow: none;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-img-top-2 {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}


.checkbox-menu li label {
  display: block;
  padding: 3px 10px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin:0;
  transition: background-color .4s ease;
}
.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
}

.checkbox-menu li.active label {
  background-color: #cbcbff;
  font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

.short-desc {
  background-color:#eeeeee;
}
.error{
  border-color: red;
}
.error-message{
  color: red;
  font-style: bold;
  font-size: 14px;
}


/*recipe page*/
.split-para      { display:block;margin:10px;}
.split-para span { display:block;float:right;width:5vw;margin-left:0px;}
.custom_file{
  margin: 3%;
  margin-top: 0%  ;
  width: 45%;
  height: 400px;
  background-color:gray;
  display: flex;
}
.custom_file_input{
  margin: 3%;
  margin-top: 0%  ;
  width: 100%;
  height: 400px;
  background-color:grey;
}
.custom-file-label{
  color: black;
  font-size: 30px;
}
.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

/* autocomplete */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.btn-shoppingList{
  width: 75%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#searchEngines.form-control::-webkit-input-placeholder {
  color: #ffffff;
}

#searchEngines.form-control::-moz-placeholder {
  color:#ffffff;
}

#searchEngines.form-control::-ms-placeholder {
  color: #ffffff;
}

#searchEngines.form-control::placeholder {
  color: #ffffff;
}

.btn.disabled, .btn:disabled {
  opacity:1;
}