<div class="container text-center" id="allRecipesShoppingList">
    <h1>Moje listy zakupów</h1>
    <br>
    <hr class="w-100" style="background-color: black;">
    <div class="panel" id="panel">

    </div>
</div>
<br>
<script src="/javascripts/shoppingList.js"></script>