<div class="container text-center" id="allRecipesShoppingList">
    <h1>Moje listy zakupów</h1>
    <br>
    <hr class="w-100" style="background-color: black;">
</div>
<br>
<form action="/recipes/add_new_recipe" method="POST" class="form-inline" id="ingredients">
    <div class="container text-center">
        <h1>Wybrano: Nazwa 3</h1>
        <div style="width: 100%; background-color:#eeeeee;margin-bottom: 5%;">
            <h3 align="left" style="margin-left: 2%;padding-top: 2%">Owoce</h3>
            <hr style="background-color: black;width: 95%">
            <div style=" width: 100%">
                <div class="row" style="margin-top: 3%">
                    <div class="col">
                        <button class="btn btn-danger" id="deleteButton">
                            X
                        </button>
                    </div>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col">
                        <button class="btn btn-danger" id="deleteButton">
                            X
                        </button>
                    </div>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3%" ;>
                <div class="col">
                    <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                </div>
                <div class="col">
                    <input type="number" name="quantity" id="quantityForm" class="form-control"
                           style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                </div>
                <div class="col">
                    <input type="text" name="unit" id="unitForm" class="form-control"
                           style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                </div>
            </div>
        </div>
        <div style="width: 100%; background-color:#eeeeee; margin-bottom: 5%;margin-top: 5%;">
            <h3 align="left" style="margin-left: 2%;padding-top: 2%">Owoce</h3>
            <hr class="w-100" style="background-color: black;">
            <div style=" width: 100%">
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3%" ;>
                <div class="col">
                    <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                </div>
                <div class="col">
                    <input type="number" name="quantity" id="quantityForm" class="form-control"
                           style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                </div>
                <div class="col">
                    <input type="text" name="unit" id="unitForm" class="form-control"
                           style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                </div>
            </div>
        </div>

        <div style="width: 100%; background-color:#eeeeee;margin-bottom: 5%;margin-top: 5%;">
            <h3 align="left" style="margin-left: 2%;padding-top: 2%">Owoce</h3>
            <hr class="w-100" style="background-color: black;">
            <div style=" width: 100%">
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3%" ;>
                <div class="col">
                    <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                </div>
                <div class="col">
                    <input type="number" name="quantity" id="quantityForm" class="form-control"
                           style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                </div>
                <div class="col">
                    <input type="text" name="unit" id="unitForm" class="form-control"
                           style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                </div>
            </div>
        </div>
        <div style="width: 100%; background-color:#eeeeee;margin-top: 5%;margin-bottom: 5%;">
            <h3 align="left" style="margin-left: 2%;padding-top: 2%">Owoce</h3>
            <hr class="w-100" style="background-color: black;">
            <div style=" width: 100%">
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%;">
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
                <div class="row" style="margin-top: 3%" ;>
                    <div class="col">
                        <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                    </div>
                    <div class="col">
                        <input type="number" name="quantity" id="quantityForm" class="form-control"
                               style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                    </div>
                    <div class="col">
                        <input type="text" name="unit" id="unitForm" class="form-control"
                               style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 3%" ;>
                <div class="col">
                    <h6 style="text-align: left;margin-top: 5%;margin-left: 10%;">Nazwa składnika</h6>
                </div>
                <div class="col">
                    <input type="number" name="quantity" id="quantityForm" class="form-control"
                           style="background-color: #eeeeee;width:80%;border-radius: 0" placeholder="3">
                </div>
                <div class="col">
                    <input type="text" name="unit" id="unitForm" class="form-control"
                           style="background-color: #eeeeee;width: 80%;border-radius: 0" placeholder="g">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button type="submit" class="btn btn-success mt-4" style="color: black; font-size:
36px">Prześlij na E-mail
                </button>
            </div>
            <div class="col-auto" style="margin-right: 7%;margin-left: 7%;">
                <button type="submit" class="btn btn-success mt-4" style="color: black; font-size:
36px">Zapisz zmiany
                </button>
            </div>
            <div class="col-auto" style="margin-left: 4%;">
                <button type="submit" class="btn btn-success mt-4" style="color: black; font-size:
36px">Usuń listę
                </button>
            </div>
        </div>
    </div>

</form>

<script src="/javascripts/shoppingList.js"></script>