<div class="container">
    <h1 class="mb-5 text-center">Zarządzanie kontem</h1>

    <div class="container w-75 p-3" style="background-color: #eeeeee">
        <h2>Dane logowania:</h2>
        <hr>
        <form action="/users/change_password" method="POST" novalidate>
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" name="email" id="staticEmail"
                        value="{{userEmail}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="password" name="oldPassword" id="passwordForm1"
                        class="form-control  border-top-0 border-left-0 border-right-0 rounded-0"
                        placeholder="Stare hasło..." required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="password" name="newPassword" id="passwordForm2"
                        class="form-control  border-top-0 border-left-0 border-right-0 rounded-0"
                        placeholder="Nowe hasło..." minlength="8"
                        pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$$" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="password" name="passwordConfirm" id="passwordForm3"
                        class="form-control  border-top-0 border-left-0 border-right-0 rounded-0"
                        placeholder="Powtórz nowe hasło..." minlength="8"
                        pattern="(?=^.{8,}$)(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&amp;*()_+}{&quot;:;'?/&gt;.&lt;,])(?!.*\s).*$" required>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success rounded-0" type="submit"
                    style="color:black; background-color:#27AE60;">Zmień hasło</button>
            </div>
        </form>
    </div>

    <div class="container w-75 p-3 mt-3" style="background-color: #eeeeee">
        <h2>Twój profil:</h2>
        <hr>
        <form action="/users/change_names" method="POST">
            <div class="form-group row">
                <label for="nickname" class="col-sm-2 col-form-label">Pseudonim</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="nickname" value="{{userNickname}}">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" name="name" id="nameInput"
                        class="form-control  border-top-0 border-left-0 border-right-0 rounded-0" placeholder="Imię..."
                        minlength="3" value={{userName}}>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="text" name="surname" id="surnameInput"
                        class="form-control  border-top-0 border-left-0 border-right-0 rounded-0"
                        placeholder="Nazwisko..." minlength="3" value={{userSurname}}>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-success rounded-0" type="submit"
                    style="color:black; background-color:#27AE60;">Zapisz</button>
            </div>
        </form>
    </div>

    <div class="container w-75 p-3 mt-3" style="background-color: #eeeeee">
        <h2>Usuwanie konta:</h2>
        <hr>
        <div class="text-center">
            {{!-- <a href="/users/delete_account" class="btn btn-success rounded-0" style="color:black; background-color:#27AE60;">Usuń konto</a> --}}
            <a href="#" class="btn btn-success rounded-0" style="color:black; background-color:#27AE60;" type="button"
                data-toggle="modal" data-target="#deleteAccountModal">Usuń konto</a>

            <!-- Modal -->
            <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
                aria-labelledby="deleteAccountModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteAccountModalLabel">Usuwanie konta</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form action="/users/delete_account" method="GET" onsubmit="return validateForm()">
                            <div class="modal-body text-left">
                                Czy jesteś pewien że chcesz usunąć konto? Jeśli tak, potwierdź akcję wpisując swój adres
                                e-mail poniżej.
                                <input type="text" class="form-control mt-3" name="emailConfirm" id="emailConfirm"
                                    required>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-danger"
                                    style="color:black; background-color:#27AE60;">Usuń konto</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    let errors = 0;

    let emailInput = document.getElementById('emailConfirm');

    emailInput.addEventListener("blur", checkEmail);

    function checkEmail() {
        let emailValue = emailInput.value;
        let userEmail = document.getElementById('userProfileDropdown').textContent.trim();
        if (emailValue !== userEmail) {
            emailInput.style = "border: 2px solid red;";
            errors++;
            return false;
        } else {
            emailInput.style = "border: 2px solid #27AE60;";
            errors = 0;
            return true;
        }
    }

    function validateForm() {
        if (errors === 0) {
            return true;
        } else {
            return false;
        }
    }

</script>
<script src="/javascripts/new-password-validation.js"></script>