<div class="container">
    <h1 class="mb-5 text-center">DODAWANIE PRZEPISU</h1>
    <form action="/recipes/add_new_recipe" method="post">
        {{!-- Informacje ogolne --}}
        <div class="container w-100 p-3" style="background-color: #eeeeee">

            <h2>Informacje ogólne:</h2>
            <hr>
            <input type="text" name="recipeName" id="recipeName"
                class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                style="background-color: #eeeeee" placeholder="* Nazwa potrawy..." required minlength="5"
                maxlength="35">
            <div class="row mt-4">
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category1"
                        name="category" style="background: #eeeeee" required>
                        <option disabled selected hidden value="">* Kategoria</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category2"
                        name="category" style="background: #eeeeee">
                        <option disabled selected hidden value="">Kategoria</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category3"
                        name="category" style="background: #eeeeee">
                        <option disabled selected hidden value="">Kategoria</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category4"
                        name="category" style="background: #eeeeee">
                        <option disabled selected hidden value="">Kategoria</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category5"
                        name="category" style="background: #eeeeee">
                        <option disabled selected hidden value="">Kategoria</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="category6"
                        name="category" style="background: #eeeeee">
                        <option disabled selected hidden value="">Kategoria</option>
                    </select>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="complicity"
                        style="background: #eeeeee;" name="complicity" required>
                        <option disabled selected hidden value="">* Stopień trudności</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                        id="numberOfPortions" style="background: #eeeeee" name="numberOfPeople" required>
                        <option disabled selected hidden value="">* Ilość porcji</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="4">4</option>
                    </select>
                </div>
                <div class="col">
                    <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0" id="timeToMake"
                        style="background: #eeeeee" name="preparationTime" required>
                        <option disabled selected hidden value="">* Czas przygotowania</option>
                        <option value="30">30 min</option>
                        <option value="60">60 min</option>
                        <option value="90+">90+ min</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="container w-100 p-3 mt-3" style="background-color: #eeeeee">
            <h2>Składniki:</h2>
            <hr>
            <div class="" id="ingredients">

                <div class="row">
                    <div class="col-6 autocomplete">
                        <input type="text" name="ingredientName" id="ingredientName1"
                            class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            style="background-color: #eeeeee;" placeholder="* Składnik" required minlength="5"
                            maxlength="50">
                    </div>
                    <div class="col">
                        <input type="text" name="ingredientQuantity" id="ingredientQuantity1"
                            class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            style="background-color: #eeeeee;" placeholder="* Ilość" required>
                    </div>
                    <div class="col">
                        <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            id="ingredientUnit1" name="ingredientUnit" style="background: #eeeeee" required>
                            <option disabled selected hidden value="">* Jednostka</option>
                        </select>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6 autocomplete">
                        <input type="text" name="ingredientName" id="ingredientName2"
                            class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            style="background-color: #eeeeee;" placeholder="* Składnik" required minlength="5"
                            maxlength="50">
                    </div>
                    <div class="col">
                        <input type="text" name="ingredientQuantity" id="ingredientQuantity2"
                            class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            style="background-color: #eeeeee;" placeholder="* Ilość" required>
                    </div>
                    <div class="col">
                        <select class="form-control border-top-0 border-left-0 border-right-0 rounded-0"
                            id="ingredientUnit2" name="ingredientUnit" style="background: #eeeeee" required>
                            <option disabled selected hidden value="">* Jednostka</option>
                        </select>
                    </div>

                    {{!-- reszta --}}

                </div>
            </div>
            <button type="button" class="btn btn-success mt-3" id="addNewIngredient" onclick="createIngredient()">Dodaj kolejną pozycję</button>
        </div>

        <div class="container w-100 p-3 mt-3" style="background-color: #eeeeee">
            <h2>Sposób przygotowania:</h2>
            <hr>
            <div class="form-group">
                <textarea class="form-control" id="recipeDescription" name="description" rows="10" required></textarea>
            </div>
        </div>

        <div class="container w-100 p-3 mt-3" style="background-color: #eeeeee">
            <h2>Wybór zdjęcia:</h2>
            <hr>

            <div class="row p-3">
                <div class="col-md">
                    <input type="image" src="/images/inputPhoto.png" alt="Submit" style="width:500px">
                </div>
                <div class="col text-center" style="background-color:palegreen">
                    <div class="row h-50 mt-3">
                        <div class="col">
                            <div class="container w-75 h-75" style="background-color: #cccccc">Brak zdjęcia</div>
                        </div>
                        <div class="col">
                            <div class="container w-75 h-75" style="background-color: #cccccc">Brak zdjęcia</div>
                        </div>
                    </div>
                    <div class="row h-50 mt-3">
                        <div class="col">
                            <div class="container w-75 h-75" style="background-color: #cccccc">Brak zdjęcia</div>
                        </div>
                        <div class="col">
                            <div class="container w-75 h-75" style="background-color: #cccccc">Brak zdjęcia</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container w-25 p-3 mt-3 text-center">
            <div class="form-group form-check">
                <input type="checkbox" name="emailAccepted" id="emailAccepted" class="form-check-input">
                <label for="emailAccepted" class="form-check-label text-left">Chcę aby mój adres email był
                    widoczny dla użytkowników korzystających z przepisu.</label>
            </div>

            <button type="submit" class="btn btn-success">Dodaj przepis</button>
        </div>
    </form>
</div>
<script src="/javascripts/addRecipeHandler.js"></script>