<div class="container">
    <div class="row ">
        <div class="col" style="background-color: white">
        </div>
        <div class="col-8" style="background-color:#eeeeee; padding: 15px; color:black;">
            <div class="row ">
                <div class="col-2">
                    <i class="fas fa-check" style="font-size: 4.5vw; margin-top:3.2vw; margin-left:0.8vw; color:#27AE60"></i>
                </div>
                <div class="col">
                    <p style="color: #27AE60; font-size:1.75vw; margin-top:1.4vw">DZIĘKUJEMY ZA DODANIE PRZEPISU!</p>
                    <p style="font-size: 1.1vw; margin-right:2vw">Zostanie on poddany weryfikacji, po zaakceptowaniu trafi 
                    do bazy wszystkich przepisów.</p>
                </div>
            </div>
            <div class="row ">
                <div class="col" style="text-align: center">
                    <button type="wroc-na-str-gl" class="btn btn-success ml-3" style="margin-top: 1.6vw; margin-bottom: 1.4vw ;background-color:#27AE60">
                        <a href="http://localhost:3000/recipes/" style="color: black; text-decoration: none">WRÓĆ NA STRONĘ GŁÓWNĄ</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col " style="background-color: white">
        </div>
    </div>
</div>