<div class="container text-center">
    <h2>Dodawanie przepisu</h2>
    <div class="container" style="background-color:gainsboro; padding: 15px; color:black;">
        <h3 align="left">Ogólne informacje</h3>
        <hr class="w-100" style="background-color: black;">
        <h6 align="left">Wprowadź informację, które jako pierwsze będą oglądane przez uzytkownika</h6>
        <form action="/recipes/add_new_recipe" method="POST">
            <input type="text" name="name" id="recipeNameForm"
                   class="form-control w-20 border-top-0 border-left-0 border-right-0"
                   style="background-color: gainsboro" placeholder="*Nazwa potrawy" required>
            <br>
            <div class="form-row ">
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" required>
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>*Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" >
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" >
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" >
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" >
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
                <div class="col-auto">
                    <select class="custom-select mr-sm-2" id="categorySelect" style="background: gainsboro" >
                        <option value="Kolacja">Kolacja</option>
                        <option disabled selected>Kategoria</option>
                        <option value="Śniadanie">Śniadanie</option>
                        <option value="Obiad">Obiad</option>
                    </select>
                </div>
            </div>
        </form>
    </div>


</div>