<div class="container" id="mainRecipesContent">
    <h1>Ostatnio dodane przepisy:</h1>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">

            <div class="card" id="item1">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item2">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item3">

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">

            <div class="card" id="item4">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item5">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item6">

            </div>
        </div>
    </div>
    <div class="row" style="margin-top:20px;">
        <div class="col-sm">

            <div class="card" id="item7">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item8">

            </div>
        </div>
        <div class="col-sm">

            <div class="card" id="item9">

            </div>
        </div>
    </div>
</div>
