<div class="container w-75">
    <h3>Szybkie wybieranie...</h3>
    <hr>   
    <form action="">
        <div class="" id="quickIngredientsSearch">
            
        </div>
    </form>
</div>
<script src="/javascripts/ingredientsSearchHandler.js"></script>