<div class="container w-75">
    <h3><u>Szybkie wybieranie...</u></h3>
    <form action="">
        <div class="" id="quickIngredientsSearch">
            
        </div>
    </form>
</div>
<script src="/javascripts/ingredientsSearchHandler.js"></script>