<div class="container" id="listOfRecipes">
    <h3 class="mb-3" style="text-transform: uppercase; margin-top:1vw; margin-left: 0.9vw">Wyszukano:
        <span>{{#each searchedCategories}}
            <a href="#placeholder_for_category_screen" style="color: black; text-decoration: none;">[{{this}}]</a>
            {{/each}}
        </span></h3>

    {{#if oneCategory}}
    <img src="{{catPhoto}}" alt="" class="card-img-top center"
        style="height: 14.2vw; width:56.2vw; margin-left:0.9vw; margin-bottom:1.5vw; margin-top:0.5vw">
    {{/if}}

    {{#each recipes}}
    {{>show_found_recipe}}
    {{/each}}

</div>
<script type="module" src="/javascripts/favourites-setting-vanilla.js"></script>