<div class="container" id="listOfRecipes">
    <h3 class="mb-3" style="text-transform: uppercase; margin-top:1vw; margin-left: 0.8vw">Wyszukano: <span>{{#each searchedCategories}}
            <a href="#placeholder_for_category_screen" style="color: black; text-decoration: none;">[{{this}}]</a>
            {{/each}}
        </span></h3>

    {{#each recipes}}
    {{>show_found_recipe}}
    {{/each}}

</div>
<script src="/javascripts/favouritesHandler.js"></script>