{{#each recipe}}
<div class="container">
    <h1>{{recipe_name}}</h1>
  <div class="row">
    <div class="col">
      <img width='250' src="{{photo_one}}">
    </div>
    <div class="col" >
        <div class="grid-bacgrond"></div>
      2 of 2
  </div>
</div>
{{/each}}