<div class="container" id="listOfRecipes">
    <h3 class="mb-3" style="text-transform: uppercase; margin-top:1vw; margin-left: 0.8vw;">Wyszukano: <span>{{searchString}}</span></h3>
    {{#each recipes}}

    {{>show_found_recipe}}

    {{/each}}
</div>
<script type="module" src="/javascripts/favourites-setting-vanilla.js"></script>
<script src="/javascripts/categoriesHandler.js"></script>